/wp/*

# Prestashop ignore from https://github.com/github/gitignore/blob/master/Prestashop.gitignore
/shop/*
# Cache
/shop/cache/*
!/shop/cache/.htaccess
!/shop/cache/cachefs/index.php
!/shop/cache/deprecated.txt
!/shop/cache/index.php
!/shop/cache/purifier/index.php
!/shop/cache/push/activity
!/shop/cache/push/index.php
!/shop/cache/push/trends
!/shop/cache/sandbox/index.php
!/shop/cache/smarty/cache/index.php
!/shop/cache/smarty/compile/index.php
!/shop/cache/smarty/index.php
!/shop/cache/tcpdf/index.php

# Download
/shop/download/*
!/shop/download/.htaccess
!/shop/download/index.php

# Images
/shop/img/*
!/shop/img/.htaccess
!/shop/img/index.php
!/shop/img/404.gif
!/shop/img/bg_500.png
!/shop/img/bg_loader.png
!/shop/img/favicon.ico
!/shop/img/loader.gif
!/shop/img/loadingAnimation.gif
!/shop/img/logo.jpg
!/shop/img/logo.png
!/shop/img/logo_invoice.jpg
!/shop/img/logo_stores.png
!/shop/img/macFFBgHack.png
!/shop/img/prestashop-avatar.png
!/shop/img/prestashop@2x.png
!/shop/img/preston-login-wink@2x.png
!/shop/img/preston-login@2x.png
!/shop/img/questionmark.png
!/shop/img/genders/index.php
!/shop/img/admin/index.php
!/shop/img/c/index.php
!/shop/img/cms/index.php
!/shop/img/co/index.php
!/shop/img/jquery-ui
!/shop/img/l/index.php
!/shop/img/m/index.php
!/shop/img/os/index.php
!/shop/img/p/index.php
!/shop/img/s/index.php
!/shop/img/scenes
!/shop/img/st/index.php
!/shop/img/su/index.php
!/shop/img/t/index.php
!/shop/img/tmp/index.php

# Upload
/shop/upload/*
!/shop/upload/.htaccess

/shop/vendor/*
/shop/docs/phpdoc-sf/
/shop/composer.lock
/shop*.hot-update.js
/shop*.hot-update.json


/shop/admin-dev/autoupgrade/*
!/shop/admin-dev/autoupgrade/index.php
!/shop/admin-dev/autoupgrade/backup/index.php

/shop/admin-dev/backups/*
!/shop/admin-dev/backups/.htaccess

/shop/admin-dev/import/*
!/shop/admin-dev/import/.htaccess
!/shop/admin-dev/import/index.php

/shop/admin-dev/export/*
!/shop/admin-dev/export/.htaccess
!/shop/admin-dev/export/index.php

# Downloaded RTL files
/shop/admin-dev/themes/default/css/bundle/default_rtl.css
/shop/admin-dev/themes/default/css/bundle/shared_rtl.css
/shop/admin-dev/themes/default/css/font_rtl.css
/shop/admin-dev/themes/default/css/overrides_rtl.css
/shop/admin-dev/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
/shop/admin-dev/themes/default/css/vendor/nv.d3_rtl.css
/shop/admin-dev/themes/default/css/vendor/titatoggle-min_rtl.css
/shop/admin-dev/themes/default/public/theme_rtl.css
/shop/admin-dev/themes/new-theme/css/module/drop_rtl.css
/shop/admin-dev/themes/new-theme/css/right-sidebar_rtl.css

/shop/themes/*/cache/*

# Config

/shop/config/settings.inc.php
/shop/config/settings.old.php
/shop/config/xml/*
/shop/config/themes/*
!/shop/config/xml/themes/default.xml
/shop/themes/*/config/settings_*.json
/shop/app/config/parameters.old.yml
/shop/app/config/config.php

# Themes, modules and overrides

/shop/modules/*
/shop/override/*
/shop/themes/*/
!/shop/themes/classic
!/shop/themes/_core
!/shop/themes/_libraries

# Vendors and dependencies

/shop/bower_components/
/shop/node_modules/
/shop/composer.phar
/shop/php-cs-fixer
/shop/.grunt/*

# Translations and emails templates

/shop/translations/*
/shop/mails/*
!/shop/mails/themes/
!/shop/mails/_partials/
/shop/themes/default-bootstrap/lang/*
/shop/themes/default-bootstrap/modules/*/translations/*.php
/shop/themes/default-bootstrap/mails/*
!/shop/themes/default-bootstrap/mails/en/
/shop/themes/default-bootstrap/modules/*/mails/*
!/shop/themes/default-bootstrap/modules/*/mails/en

# MISC

/shop/*sitemap.xml
/shop/robots.txt

# Symfony

/shop/bin/
/shop/app/Resources/geoip/GeoLite2-City.mmdb
/shop/app/Resources/translations/*
!/shop/app/Resources/translations/default
/shop/app/config/parameters.yml
/shop/app/config/parameters.php
/shop/build/
/shop/phpunit.xml
/shop/var/*
!/shop/var/cache
/shop/var/cache/*
!/shopvar/cache/.gitkeep
!/shop/var/logs
/shop/var/logs/*
!/shop/var/logs/.gitkeep
!/var/sessions
/shop/var/sessions/*
!/shop/var/sessions/.gitkeep
!/shop/var/SymfonyRequirements.php
/shop/vendor/
/shop/web/bundles/
